<link rel="stylesheet" href="/pages/auth.css" />

<div class="left">
  <img src="/assets/undraw_files_sent_re_kv00.svg" alt="Illustration" />
</div>

<div class="right">
  <div class="text">
    <h1><%= isLogin ? 'Log In' : 'Sign Up' %></h1>
    <p><%= isLogin ? 'Welcome back! Please login to your account.' : 'Create an account to start sharing files.' %></p>
  </div>
  <form action="<%= isLogin ? '/login' : '/signup' %>" method="POST">
    <div class="item">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="example@email.com"
        required
      />
    </div>

    <div class="item">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="●●●●●●●"
        required
      />
    </div>

    <% if (error) { %>
    <label id="error-message" style="color: red"
      ><%= isLogin ? "Couldn't log in" : "Couldn't sign up" %>: <%= error %>.</label
    >
    <% } %>

    <div class="buttons">
      <button type="submit" class="submit"><%= isLogin ? 'Login' : 'Sign Up' %></button>
      <a href="<%= isLogin ? '/signup' : '/login' %>">
        <%= isLogin ? 'Sign Up' : 'Log In' %>
      </a>
    </div>
  </form>
</div>
